
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: black;
}
.home-container
{
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.intro
{
    background: #fff5da;
    position: relative;
    background-size: cover;
    background-position: top center;
    z-index: 1;
}

/* START OF NAVBAR */
.navbarr{
    width: 95%;
    margin: auto;
    top: 0;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: absolute;
    z-index: 9;
}
.navbarr ul
{
    align-self: center;
    margin: auto;

}
.navbarr ul li
{
    list-style: none;
    display: inline-block;
    letter-spacing: 2px;
    margin: 0 30px;
    position: relative;
}
.navbarr ul li::after
{
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    background: black;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
    z-index:8;
}
.navbarr ul li:hover::after
{
    width: 100%;
}
.navbarr ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
}
.navbarr img
{
    height: 80px;
    cursor:pointer;
}
/* END OF NAVBAR */

/* START OF CONTENT SECTION */
.content
{
    margin-top: 5%;
}
.title
{
    margin-top: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    
    font-weight: 600;
}
.col
{
    align-content: center;
    max-width: 200px;
    margin-right: 40px;
}
.intro-content img
{
    margin-bottom: 10px;
    width: 200px;
    float: left;
}
/* END OF CONTENT SECTION */

/* FOOTER SECTION */
.social
{
    position: absolute;
    bottom: 20px;
    left: 0px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.social li
{
    list-style: none;
}
.social li a
{
    display: inline-block;
    margin-right: 20px;

    transform: scale(0.5);
    transition: 0.5s;
}

.social li a:hover
{
    transform: scale(0.5) translateY(-15px);
}
